extends layout

block content
 center
  h1 Login
   //img(src='https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')
  
  form(method='POST', action='/users/login')
    center
    #form-group
      label Username:
      input.input.mini(name='username',type='text')
    #form-group
      label Password:
      input.input.mini(name='password',type='password')
    
    input.btn.btn-primary(type='submit',value='Submit')